@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.img-logo{
  width: 200px;
  margin-top: 5%;
}
#quizTitle{
  margin-top:5%;
}
body{
  background-color: #e0ebff;
  color: #08216d;
  font-family: "Josefin Sans", sans-serif;
}
.wrong{
  color: #d13f00;
  background-color: #fdd3d3;
  width: 100%;
  margin:0;
}
.correct{
  color: green;
  background-color: #dafdd3;
  width: 100%;
  margin:0;
}
#guesses{
  text-align: center;
  max-width: 300px;
  padding: 10px;
}
.btn{
  margin-left: 2%;
}
p {
  border-style: solid;
  margin-top:1%;
  background-color:darkblue;
  color:white;
}
#answers{
  width:30%;
  margin-top:3%;
}
#quizTitle{
  text-align:center;
}